
.main-content::before{
    content: "";
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.65;
    z-index: -1;
}
.main-content-text{
    z-index: 99;
}
.main-content{
    height: calc(100vh - 15px);
    z-index: 1;
    width: 100%;
    background: url(./images/client-doing-hair-cut-barber-shop-salon.jpg) fixed no-repeat center/cover;
    position: relative;
    overflow: hidden;
    padding: 50px;
    padding-bottom: 0;
    border-bottom: 15px solid #d6a354;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-image-content{
    width: 350px;
    height: 350px;
    border:10px solid #d6a354;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(20%,10%);
    border-radius: 100%;
}
.image-content{
    width: 130px;
    height: 130px;
    position: absolute;
    transform: translate(50%,-40%);
    object-fit: cover;
    border:10px solid #d6a354;
    border-radius: 100%;
}
.main-image-content-enter{
    margin: 80px 50px 0 50px;
}
.main-image-content-enter h1{
    width: 150px;
    font-size: 30px;
    color: white;
}
.main-content #h1{
    font-size: 80px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-content #h5{
    color:black;
    font-size:25px;
    font-weight: 500;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-content .link-content{margin-top:30px;}
.main-content .link-content a,.main-image-content-enter a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.5s;
}
.main-content .link-content #link-1{
    font-size: 20px;
    padding:7px 20px;
    border: 2px solid white;
    margin-right: 60px;
    border-radius: 35px;
}
.main-content .link-content #link-1:hover{
    border: 2px solid #FDBB2D;
    background: #FDBB2D;
}
.main-content .link-content #link-2{
    font-size: 20px;
    padding:7px 20px;
    border: 2px solid red;
    background:red;
    margin-right: 60px;
    border-radius: 35px;
}
.main-content .link-content #link-2:hover{
    border: 2px solid #FDBB2D;
    background: #FDBB2D;
    color: white;
}

.main-content .main-image-content-enter #link-3{
    padding:7px 20px;
    border: 2px solid #FDBB2D;
    background: #FDBB2D;
    color: white;
    text-transform: capitalize;
    border-radius: 35px;
}
.main-content .main-image-content-enter #link-3:hover{
    border: 2px solid red;
    background:red;
}
@media (0px <= width <= 426px) {
    .main-content #h1 {
        font-size: 30px;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
.main-content{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.main-content .link-content #link-1,.main-content .link-content #link-2{
    padding: 5px 15px;
    margin: 15px 0;
}
.link-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-self: center;
    margin: 0;
}
.main-image-content{
    width: 250px;
    height: 250px;
    border:10px solid #d6a354;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(20%,10%);
    border-radius: 100%;
}
.image-content {
    width: 100px;
    height: 100px;
    transform: translate(-80%,-40%);
}
.main-image-content-enter h1 {
    width: 100px;
    font-size: 20px;
    color: white;
}
.main-content .main-image-content-enter #link-3{
    padding: 4px 14px;
    font-size: 20px;
}
.main-content #h5 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-content .link-content #link-1{
    margin:0;
}
.main-content .link-content #link-2{
    margin: 7px 0;
}
.main-image-content-enter {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    margin: 60px 0 0 15px;
    justify-content: center;
}
}
@media (426px <= width <= 768px) {
    .link-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
    .main-content #h1{
        font-size: 60px;
        color: white;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
.main-content{
    display: flex;
    justify-content: flex-start;
}
.main-content .link-content #link-1,.main-content .link-content #link-2{
    padding:7px 20px;
    margin-bottom:20px;
}
.main-image-content{
    width: 350px;
    height: 350px;
    border:10px solid #d6a354;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(20%,10%);
    border-radius: 100%;
}
.image-content{
    width: 130px;
    height: 130px;
    position: absolute;
    transform: translate(50%,-40%);
    object-fit: cover;
    border:10px solid #d6a354;
    border-radius: 100%;
}
.main-image-content-enter h1{
    width: 150px;
    font-size: 30px;
    color: white;
}
.main-content .main-image-content-enter #link-3{
    padding:7px 20px;
    border: 2px solid #FDBB2D;
    background: #FDBB2D;
    color: white;
    text-transform: capitalize;
    border-radius: 35px;
}
.main-content #h5{
    color:black;
    font-size:25px;
    font-weight: 500;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-content .link-content #link-1{
    padding:7px 20px;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 35px;
}
.main-content .link-content #link-2{
    padding:7px 20px;
    border: 2px solid red;
    background:red;
    margin-right: 20px;
    border-radius: 35px;
}
.main-image-content-enter{
    margin: 80px 50px 0 50px;
}
}
@media (768px <= width <= 1024px) {
    .link-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;}
    .main-content #h1{
        font-size: 60px;
        color: white;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
.main-content{
    display: flex;
    justify-content: flex-start;
}
.main-content .link-content #link-1,.main-content .link-content #link-2{
    padding:7px 20px;
    margin-right: 60px;
}
.main-image-content{
    width: 350px;
    height: 350px;
    border:10px solid #d6a354;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(20%,10%);
    border-radius: 100%;
}
.image-content{
    width: 130px;
    height: 130px;
    position: absolute;
    transform: translate(50%,-40%);
    object-fit: cover;
    border:10px solid #d6a354;
    border-radius: 100%;
}
.main-image-content-enter h1{
    width: 150px;
    font-size: 30px;
    color: white;
}
.main-content .main-image-content-enter #link-3{
    padding:7px 20px;
    border: 2px solid #FDBB2D;
    background: #FDBB2D;
    color: white;
    text-transform: capitalize;
    border-radius: 35px;
}
.main-content #h5{
    color:black;
    font-size:25px;
    font-weight: 500;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-content .link-content #link-1{
    padding:7px 20px;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 35px;
}
.main-content .link-content #link-2{
    padding:7px 20px;
    border: 2px solid red;
    background:red;
    margin-right: 20px;
    border-radius: 35px;
}
.main-image-content-enter{
    margin: 80px 50px 0 50px;
}
}