*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav.nav-pills a{
    color:black;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
}
.nav.nav-pills a:hover{
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#d6a354;
    border: 0;
}
.navbar-toggler {
    background: red;
    border-radius: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 222;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 25px;
    width: 55px;
    height: 55px;
    outline: none;
}
#sidebarMenu .collapse:not(.show) {
    display: none;
    z-index: -999;
}