*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav.nav-pills a{
    color:black;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family:sans-serif;
}
.nav.nav-pills a:hover{
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#d6a354;
    border: 0;
}
.navbar-toggler {
    background: red;
    border-radius: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 222;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 25px;
    width: 55px;
    height: 55px;
    outline: none;
}
#sidebarMenu .collapse:not(.show) {
    display: none;
    z-index: -999;
}

@media  (0px <= width <= 426px) {
    .navbar-toggler {
        background: red;
        border-radius: 25px;
        position: fixed;
        top: -20px;
        bottom: 0;
        right: -5px;
        z-index: 222;
        border: 0;
        padding: 0;
        cursor: pointer;
        margin: 25px;
        width: 40px;
        height: 40px;
        outline: none;
    }

}

@media  (426px <= width <= 768px) {
.navbar-toggler {
    background: red;
    border-radius: 25px;
    position: fixed;
    top: -10px;
    bottom: 0;
    right: 0;
    z-index: 222;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 25px;
    width: 55px;
    height: 55px;
    outline: none;
}
}